deepspeed==0.16.1
transformers==4.47.1
accelerate==0.32.1
peft==0.6.2
datasets==2.14.7
evaluate==0.4.5
sentencepiece==0.2.0
einops==0.8.0
tqdm==4.67.1
numpy==1.25.2
scipy==1.14.1
hjson==3.1.0
nltk==3.5
rouge==1.0.1
fuzzywuzzy==0.18.0
sacrebleu==2.4.3
quadprog==0.1.13
tree-sitter==0.25.2
tree-sitter-language-pack==0.7.2
wandb==0.26.0
dotenv==0.9.9
qpth==0.0.18
huggingface_hub==0.36.2